body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

  /* Estilo de la barra lateral */
.sidebar {
    width: 230px;
    height: 100vh; /* Altura completa */
    background-color: #333;
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

    /* Estilo de la opcion seleccionada */
.sidebar a.active {
    background-color: #4CAF50; /* Color del resaltado */
    font-weight: bold;
}

  /* Estilo del contenido principal */
.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/* calcular tarifa estilos */

.tarifas {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#tariffResult {
    margin-top: 20px;
}


/* VEHICULOS PARQUEADOS */

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.no-data {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
}
